@using (Html.BeginForm("Create", "Leaves", FormMethod.Post))
{
    <div>
        start:<input type="datetime" id="start" name="Start" value="2017-03-22T10:00:00Z" />
        end:<input type="datetime" id="end" name="End" value="2017-03-22T10:00:00Z" />
        <button type="submit">apply</button>
    </div>
}